@font-face {
    font-family: 'Oswald';
    src: url('resources/fonts/Oswald-VariableFont_wght.ttf')  format('truetype')
}

.visible {
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
    transform: translateZ(0) !important; 
}

.hidden {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: visibility 0s 1s, opacity 1s ease-in;
    transform: translateZ(0) !important; 
}

.dismiss-loading {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s ease-in, transform 1s ease-in;
    transform: translate(-20%, -50%) !important; 
}

.appear-loading {
    visibility: visible !important; 
    opacity: 1 !important; 
    transition: visibility 0s, opacity 1s ease-out, transform 1s ease-out;
    transform: translate(-5%, -50%) !important; 
}

.appear-debug {
    visibility: visible !important; 
    opacity: 1 !important; 
    top: 0 !important;
    transition: visibility 0s, opacity 1s ease-out, top 1s ease-out;
    transform: translate(0%, 0%) !important; 
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    background-color: black;
    color: whitesmoke;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: crisp-edges; /* Chromium, Webkit */
    image-rendering: pixelated; /* Firefox */
    transform: translateZ(0);
    backface-visibility: hidden;
}

.info-label {
    position: absolute;
    top: 5pt;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#temp-canvas {
    display: none;
}

#ui-canvas, #label-canvas {
    pointer-events: none;
}

#info-label {
    left: 10pt;
    font-size: 15pt;
}

#changelog-label {
    top: 50px;
    left: 10pt;
    font-size: 12pt;
}

#fps-label {
    right: 10pt;
    width: 100pt;
    overflow: visible;
}

#info-label-container {
    position: absolute;
    right: 0;
    top: -20pt;
    width: 100%;
    text-shadow: 0 0 5px black;
    visibility: hidden;
    opacity: 0;
}

#loading-popup {
    position: absolute;
    left: 5%;
    top: 50%;
    -webkit-transform: translate(-20%, -50%);
    transform: translate(-20%, -50%);
    width: 51vmin;
    visibility: visible;
    opacity: 0;
    font-size: 6vmin;
    text-shadow: 0 0 5px black;
}

#progress-bar {
    background-color: whitesmoke;
    height: 2vmin;
    width: 0;
    border-radius: 2pt;
    box-shadow: 0 0 5px black;
    transition: width 0.5s ease-in-out 0.01s;
}