@font-face {
    font-family: 'Oswald';
    src: url('resources/fonts/Oswald-VariableFont_wght.ttf')  format('truetype')
}

@font-face {
    font-family: 'VT323';
    src: url('resources/fonts/VT323-Regular.ttf')  format('truetype')
}

.visible {
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
    transform: translateZ(0) !important; 
}

.hidden {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: visibility 0s 1s, opacity 1s ease-in;
    transform: translateZ(0) !important; 
}

.dismiss-loading {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s ease-in, transform 1s ease-in;
    transform: translate(-20%, -50%) !important; 
}

.appear-loading {
    visibility: visible !important; 
    opacity: 1 !important; 
    transition: visibility 0s, opacity 1s ease-out, transform 1s ease-out;
    transform: translate(-5%, -50%) !important; 
}

.appear-debug {
    visibility: visible !important; 
    opacity: 1 !important; 
    top: 0 !important;
    transition: visibility 0s, opacity 1s ease-out, top 1s ease-out;
    transform: translate(0%, 0%) !important; 
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    background-color: black;
    color: whitesmoke;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: crisp-edges; /* Chromium, Webkit */
    image-rendering: pixelated; /* Firefox */
    transform: translateZ(0);
    backface-visibility: hidden;
}

.info-label {
    position: absolute;
    top: 5pt;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#temp-canvas {
    display: none;
}

#ui-canvas, #label-canvas {
    pointer-events: none;
}

#info-label {
    left: 10pt;
    font-size: 15pt;
}

#changelog-label {
    top: 50px;
    left: 10pt;
    font-size: 12pt;
}

#info-label-container {
    position: absolute;
    right: 0;
    top: -20pt;
    width: 100%;
    text-shadow: 0 0 5px black;
    visibility: hidden;
    opacity: 0;
}

#debug-container {
    font-family: 'VT323';
    position: absolute;
    right: 20pt;
    bottom: 20pt;
}

#stats-container {
    font-size: 15pt;
    margin-bottom: 10pt;
}

.debug-label {
    display: inline-block;
}

#state-label {
    float: right;
}

#probe-container {
    width: 350pt;
    height: 25pt;
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
    background-color: whitesmoke;
    border-radius: 4pt;
}

.probe {
    display: inline-block;
    padding-top: 2pt;
    font-size: 20pt;
    height: 25pt;
    text-align: center;
    vertical-align: middle;
    transition: width 0.1s ease-out;
}

#probe1, #probe1LegendColor {
    background-color: cyan;
}

#probe2, #probe2LegendColor {
    background-color: palevioletred;
}

#probe3, #probe3LegendColor {
    background-color: peru;
}

#probe4, #probe4LegendColor {
    background-color: lightseagreen;
}

#probe5, #probe5LegendColor {
    background-color: purple;
}

#probe6, #probe6LegendColor {
    background-color: green;
}

#probe7, #probe7LegendColor {
    background-color: gray;
}

#probe-legend-container {
    width: 350pt;
}

.probe-legend {
    padding-right: 5pt;
    display: inline-block;
}

.probe-legend-color {
    display: inline-block;
    height: 5pt;
    width: 5pt;
    border: black 1pt;
}

#loading-popup {
    position: absolute;
    left: 5%;
    top: 50%;
    -webkit-transform: translate(-20%, -50%);
    transform: translate(-20%, -50%);
    width: 51vmin;
    visibility: visible;
    opacity: 0;
    font-size: 6vmin;
    text-shadow: 0 0 5px black;
}

#progress-bar {
    background-color: whitesmoke;
    height: 2vmin;
    width: 0;
    border-radius: 2pt;
    box-shadow: 0 0 5px black;
    transition: width 0.5s ease-in-out 0.01s;
}